name: tugas
description: "A new Flutter project."
publish_to: 'none'
version: 0.1.0

environment:
  sdk: ^3.10.7

dependencies:
  flutter:
    sdk: flutter
  provider: ^6.1.0
  google_fonts: ^6.2.1

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true
  assets:
    - assets/images/laptop.jpg
    - assets/images/smartphone.jpg
    - assets/images/headphones.jpg
    - assets/images/smartwatch.jpg
    - assets/images/camera.jpg
    - assets/images/tablet.jpg
